<section>
        <hr class="hr-bold">
        <h2 class="mt-2 text-dark">Fotos de la mascota</h2>
        <p class="text-secondary">Debes subir de 1 a 3 fotos de tu mascota.</p>
        <input required type="file" class="mb-2"  name="foto0" id="foto0" accept=".jpg,.jpeg,.png"> </input> <br>
        <input type="file" class="mb-2"  name="foto1" id="foto1" accept=".jpg,.jpeg,.png"> </input> <br>
        <input type="file" class="mb-2"  name="foto2" id="foto2" accept=".jpg,.jpeg,.png"> </input>
</section>
